*{
    margin: 0;
    padding: 0;
}

/* ヘッダー */
header{
    height: 90px;
    background-color: rgb(254, 255, 236);
    position: relative;
}
#header_inner{
    position: relative;
}
#logo{
    margin-left: 40px;
    float: left;
}
.logo{
    height: 90px;
    width: 100px;
}
.logo-text{
    margin-bottom: 25px;
    height: 40px;
    width: 200px;
}
#contact_btn{
    margin-right: 5%;
    position: relative;
    top: 45px;
    -webkit-transform: translateY(-50%);    
    transform: translateY(-50%);
    float: right;
    background-color: rgb(86, 212, 243);
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
}
#contact_btn:hover{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    -webkit-transform: translateY(-52%);
    transform: translateY(-52%);
}
#header_text{
    float: right;
    margin-right: 50px;
    margin-top: 45px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#main_sea{
    position: relative;
}
.view_sea{
    background-image: url("../image/sea.jpg");
    width: 100vw;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}
#main_sea h2{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-size: 50px;
}

/* ヘッダ下申込ボタン */
#main_top_subscription{
    height: 200px;
    width: 100%;
    position: relative;
    background-color: white;
}
#main_top_subscription p{
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}
#main_top_subscription button{
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 50%;
    /* 意図的にX軸のみ中央寄せ */
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

    padding: 17px 60px;
    font-size: 28px;
    color: white;
    border-radius: 12px;
    border: 2px;
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+14,0a77d5+42,539fe1+81,87bcea+100 */
    background: #d0e4f7; /* Old browsers */
    background: -moz-linear-gradient(top,  #d0e4f7 0%, #73b1e7 14%, #0a77d5 42%, #539fe1 81%, #b3d5f3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #d0e4f7 0%,#73b1e7 14%,#0a77d5 42%,#539fe1 81%, #b3d5f3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #d0e4f7 0%,#73b1e7 14%,#0a77d5 42%,#539fe1 81%,#b3d5f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
}
#main_top_subscription button:hover{
    box-shadow: 0px 10px 15px rgb(155, 168, 175);
    -webkit-transform: translate(-50%, -5px);
    -ms-transform: translate(-50%, -5px);
    transform: translate(-50%, -5px);
    background: -moz-linear-gradient(top,  #fff4e1 0%, #e7c273 14%, #d5a60a 42%, #e1bb53 81%, #f3edb3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fff4e1 0%, #e7c273 14%, #d5a60a 42%, #e1bb53 81%, #f3edb3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fff4e1 0%, #e7c273 14%, #d5a60a 42%, #e1bb53 81%, #f3edb3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
}
#main_top_subscription button:active{
    /* 次ここからアクティブ時のデザイン追加 */
}

/* メイン */
main{
    height: 600px;
    background-color:  rgb(214, 214, 179);
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}



footer{
    height: 100px;
    background-color: rgb(195, 233, 255);
   
}